{% extends "layout.html" %}

{% block title %}FAQ{% endblock %}

{% block content %}
<div class="faq-container">
    <h1>Frequently Asked Questions(mostly for the professor)</h1>

    <details>
        <summary>How it works</summary>
        <p>This app is for people who are new to working out so they can keep track of what they did each day and I provided videos on workouts because I'm targeting people who are new to wokring out</p>
    </details>

    <details>
        <summary>What I will do if I had more time</summary>
        <p>So I wanted to make it where the user can set up a routine to work out, for example if the user wokrs out 3 days a week and he can set mondays to push and pull up and on the calendar every monday will those workout with no value and you can click on day to put in the info instead
            i didnt have a chance to put users login yet, bc i didn't have time
        </p>
    </details>

    <details>
        <summary>Why is the workouts pre-selected</summary>
        <p>The workout are pre-selected becuase if I let the user type the workout they want then I won't be able to find video bc i woudlnt be able to knwo what they choose
            most important part is i want to make this in a display like i want to draw art and make things in unity the way i want this to work is the user can see a time lapse of their character working out doing the work out they put
            and it needs to be pre-selected so the workout they do is programmed.
        </p>
    </details>

    <details>
        <summary>Where do the tutorial videos come from?</summary>
        <p>All videos are curated from high-quality fitness creators on YouTube to ensure you have the best form guidance available.</p>
    </details>
</div>
{% endblock %}