<!DOCTYPE html>
<html>
<head>
    <title>William's Gym Tracker</title>
    <style>
        body { font-family: sans-serif; margin: 40px; line-height: 1.6; }
        form { margin-bottom: 20px; padding: 20px; border: 1px solid #ddd; }
        input { margin-bottom: 10px; display: block; padding: 8px; }
    </style>
</head>
<body>
    <h1>Welcome {{name}}</h1>

    <form action="/add_workout" method="POST">
    <label for="workout_name">Pick a Workout:</label>
    <select name="workout_name" id="workout_name" required>
        {% for workout in workout_options %}
            <option value="{{ workout }}">{{ workout }}</option>
        {% endfor %}
    </select>
    <input type="number" name="sets" placeholder="Sets" required>
    <input type="number" name="reps" placeholder="Reps" required>
    <button type="submit">Log Workout</button>
    </form>
    

</body>
</html>